.flex {
    display: flex;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .items-center {
    align-items: center;
  }
  
  .p-6 {
    padding: 1.5rem;
  }
  

/* 로고 */
.logo {
    width: 100px;
    height: auto;
    transition: transform 0.2s;
  }
  
  .logo:hover {
    transform: scale(1.1);
  }