@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.container {
  font-family: "BMHANNAAir_ttf";
}

.calendar {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.month-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  margin-bottom: 8px;
}

.day-of-week {
  text-align: center;
}

.day-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.day {
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.selected {
  background-color: #f783ac;
  color: white;
}

.schedule {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
/* 
.container {
  display: flex;
  height: 65vh;
  overflow: auto;
}

.calendar {
  flex: 1.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  padding: 0.5rem;
  transition: 0.3s;
  border-radius: 10px;
  overflow: auto;
}

.schedule {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  font-size: 15px;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.schedule h2 {
  position: sticky;
  top: 0;
  padding: 1rem;
  margin: 0;
  z-index: 1;
}

.day-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  margin-top: 1rem;
}

.day {
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #44333a;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.day.empty {
  color: #ddd;
}

.prev-month-day,
.next-month-day {
  font-size: 0.8em;
  color: #bbb;
  cursor: default;
  pointer-events: none;
}

.day.selected {
  background-color: #FF5B5B;
  color: #fff;
}

.day:hover {
  transform: scale(1.1);
}

.month-selector {
  font-size: 15px;
}

.month-selector button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1rem;
}

.month-selector button:focus {
  outline: none;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.6rem;
  font-size: 13px;
}

.day-of-week {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* 공휴일
.day.holiday {
  color: red;
} */