@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.calendar {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.month-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding-left: 10px; 
  padding-right: 10px; 
}


.button-wrapper {
  display: flex;
  gap: 2px;
  align-items: center; /* 버튼들을 수직 중앙으로 정렬 */
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  margin-bottom: 8px;
}

.day-of-week {
  text-align: center;
}

.day-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.day {
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  /* 캘린더 선택 가능한 날짜 스타일 */
  background-color: #ffffff;
  color: #000000;
  border: 1px solid transparent;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.selected {
  background-color: #f783ac;
  color: white;
  border: 1px solid transparent;
}

.schedule {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* 선택 불가능한 날짜 스타일 */
.day.empty.prev-month-day,
.day.empty.next-month-day,
.day.non-selectable {
  background-color: #f2f2f2;
  color: #999999;
  cursor: default;
  border: 1px solid transparent;
}

/* DatePicker */
/* Calendar Controls */
.calendar-controls {
  display: flex;
  align-items: center;
}

.date-picker-controls {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

/* Date Picker */
.custom-date-picker {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.custom-date-picker input {
  width: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

.custom-date-picker button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.custom-date-picker button.today-button {
  background-color: #28a745;
  margin-left: 10px;
}

/* Calendar Icon */
.calendar-icon {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* 공휴일
.day.holiday {
  color: red;
} */

