@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.kakao-map-container {
  flex: 1;
  height: 685px;
  /* margin-bottom: 20px; */
  position: relative; /* Add relative positioning */
}

#map {
  width: 100%;
  height: 100%; /* Adjust the map height as needed */
  z-index: 1;
}

.course-container {
  position: absolute;
  width: 15rem;
  top: 48%; /* Position it at the vertical center of the container */
  left: -18%; /* Position it at the horizontal center of the container */
  transform: translate(-50%, -50%); /* Adjust for centering */
  z-index: 10;
}

.course-button {
  position: absolute;
  width: 15rem;
  top: 35.5rem;
  left: 9rem;
  transform: translateX(-50%);
  display: flex; /* Use flexbox to arrange buttons horizontally */
  gap: 10px; /* Add some space between buttons */
  z-index: 10;
}

.result-container {
  position: absolute;
  width: 18rem;
  top: 49%; /* Position it at the vertical center of the container */
  right: -19rem; /* Adjust the value as needed */
  transform: translateY(-50%); /* Adjust for centering */
  z-index: 2;
  background-color: white; /* Add background color */
  padding: 1rem; /* Add padding */
  border-radius: 4px; /* Add border radius for a nice look */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
  font-size: 11px;
}

.recommend-type-dropdown {
  position: absolute;
  width: 20rem;
  top: 0.5rem;
  right: 52.5rem;
  z-index: 5;
}



/* RandomRecommendForm, RandomRecommendResult.tsx css */
/* .random-recommend-form-container{

}
 */


.random-course-container{
  position: absolute;
  width: 15rem;
  top: 17%; /* Position it at the vertical center of the container */
  left: -18%; /* Position it at the horizontal center of the container */
  transform: translate(-50%, -50%); /* Adjust for centering */
  z-index: 4;
  
}

.random-result-container {
  position: absolute;
  width: 18rem;
  top: 2%; /* Position it at the vertical center of the container */
  right: -19rem; /* Adjust the value as needed */
  background-color: white;
  z-index: 5;
  padding: 1rem; /* Add padding */
  border-radius: 4px; /* Add border radius for a nice look */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
  font-size: 11px;
  overflow-y: auto; /* Add vertical scrollbar when content exceeds container height */
  max-height: 650px; /* Adjust the value as needed, considering the header and footer heights */
}

.customoverlay {
  position: relative;
  bottom: 55px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
}

.customoverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}

.customoverlay a {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  background: #d95050;
  position: relative;
}
/* '>' 모양을 추가하기 위한 스타일 */
.customoverlay a::before {
  content: '>';
  position: absolute;
  right: 10px;  /* 오른쪽 위치 조절 */
  top: 45%;  /* 상단 중앙 위치 */
  transform: translateY(-50%);  /* 상하 중앙 정렬 */
  font-size: 20px;  /* 아이콘 크기 */
  color: white;  /* 아이콘 색상 */
}

.customoverlay .title {
  display: block;
  text-align: center;
  background: #fff;
  margin-right: 35px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
}
.customoverlay::before, .customoverlay::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}

.customoverlay::before {
  bottom: -11px;
  border-top: 11px solid black;  /* 검은색 테두리 */
}

.customoverlay::after {
  bottom: -10px;
  border-top: 10px solid #fff;  /* 흰색 내부 */
}


