@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.result-container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

.form-container {
  position: absolute;
  bottom: 2rem; /* Adjust this value as needed */
  right: -22rem; /* Adjust this value as needed */
  width: 42.5rem;
  padding: 1px;
  margin-top: 30px;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 2;
}

.recommend-form-container {
  position: absolute;
  bottom: -4rem;
  right: 46rem;
  width: 12rem;
  padding: 5px;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 2;
  background-color: #ffffff;
}

.kakao-map-container {
  position: relative;
  overflow: hidden;
  height: calc(100% - 2rem); /* Adjust this value to leave space for the form container */
  width: 100%;
  margin-bottom: 2rem; /* Add margin to separate the form and map */
  background-color: #ffffff;
}