@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* .footer-container {
  background-color: #f6f7f9;
  text-align: center;
  padding: 1rem;
}

.footer-link {
  color: #3b82f6;
}

.footer-link:hover {
  color: #1d4ed8;
}

.footer-item {
  margin-bottom: 1rem;
}

.italic {
  font-style: italic;
}

@font-face {
  font-family: "BMHANNAPro";
  src: url("/fonts/BMHANNAPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BMHANNAAir_ttf";
  src: url("/fonts/BMHANNAAir_ttf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */
