@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.container {
  font-size: 1rem;
  font-family: "Pretendard-Regular";
  color: "#f783ac";
  margin-left: 2
}

.md\\:flex a {
  padding: 0.5rem 1rem; /* Add padding to the navigation links */
  color: black;
  font-weight: bold;
  transition: background-color 0.3s, border-radius 0.3s;
}

.md\\:flex a:hover {
  background-color: #f2f2f2; /* Change the background color on hover */
  border-radius: 0.25rem; /* Add rounded corners on hover */
}

.flex a {
  color: #e91e63; /* Set the text color to a pink shade for login/logout button */
  font-weight: bold;
  transition: background-color 0.3s, border-radius 0.3s;
}

.flex a:hover {
  background-color: #ecbace; /* Change the background color on hover for login/logout button */
  border-radius: 0.25rem; /* Add rounded corners on hover */
}
