apiVersion: apps/v1
kind: Deployment
metadata:
  name: dep-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend-pod
          image: 180.150.207.73:5000/frontend@sha256:0aeb1faedbe9b07662e146394ebf305879caedd5c346618b9f8145c2b04aa815
          ports:
            - containerPort: 3001
---
apiVersion: v1
kind: Service
metadata:
  name: svc-app
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: 3000
      protocol: TCP
      targetPort: 3001
      nodePort: 31000
