.weather-card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.weather-card h2 {
  margin: 0 0 10px;
}

.weather-card h3 {
  margin: 0 0 5px;
}

.weather-card p {
  margin: 0;
}